h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 98px;
  text-align: center;
  color: #142d4c;
}
p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
@media (min-width: 320px) {
  .hero {
    background-color: #ececec;
    padding: 160px 200px;
    display: grid;
    text-align: center;
    color: #142d4c;
  }
}
.hero p {
  font-size: 18px;
  margin: 0;
}
.about {
  grid-column: 3/4;
  line-height: 30px;
  text-align: left;
}
.social {
  grid-column: 3/4;
  font-size: 18px;
  text-align: left;
}
.hero h2 {
  font-family: "Nunito", sans-serif;
  font-size: 64px;
  font-weight: 700;
  grid-column: 3/4;
  text-align: left;
  line-height: 87px;
}
img {
  height: 400px;
  width: 500px;
  grid-column: 1/2;
  grid-row: 1/4;
  top: 350px;
  left: 240px;
  padding: 50px;
}
i {
  margin: 0px 10px;
  font-size: 16px;
}
.puppies {
  width: 225px;
  height: 300px;
  margin: 0 auto;
}
.maine {
  width: 225px;
  height: 300px;
  margin: 0 auto;
}
.work {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.card {
  min-height: 500px;
  overflow: auto;
  color: #142d4c;
  background-color: #9fd3c7;
}
.card-title {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
}
.card-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #142d4c;
}
.row {
  margin: 50px;
}
.card-bodyLast {
  margin: 20px;
}
